<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <input id="J_mail" type="text" value="18668199756@163.com"/>
    <button id="J_send">发送</button>
    <p></p>

    <hr>

    <div id="reg">
      <input type="text" id="username" placeholder="用户名"/>
      <input type="password" id="password" placeholder="密码" value="22"/>
      <input type="password" id="password2" placeholder="重复密码" value="22"/>
      <input type="text" id="email" placeholder="邮箱" value="18668199756@163.com"/>
      <button id="J_reg">注册</button>

      <span style="margin-left:10px"></span>
    </div>

    <hr>

     <div id="login">
      <input type="text" id="lg_userId" placeholder="用户名/邮箱"/>
      <input type="password" id="lg_password" placeholder="密码"/>
      <button id="J_login">登录</button>

      <span style="margin-left:10px"></span>
    </div>

    <hr>


  </body>
  <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/index.js"></script>
</html>






